body{
    background-color: white;
}

img{
    float: right;
}

#container{
    padding-right: 100px;
}

.delivery{
    text-align: center;
    background-color: #688aaa;
    position: fixed;
    top: 200px;
    left: 200px;
    height: 400px;
    width: 400px;
    border: 2px gray;
    padding: 10px;
    border-radius: 10%;
    color: white;
    font-size:20px;
   

   
}
.form-submit{
    width: 100px;
    height: 40px;
    background-color:#fd3204;
    border: none;
    border-radius: 10%;
    margin-left: 40px;
    color: white;
    font-size:20px;
}
.form-select{
    height: 40px;
    width: 200px;
    background-color:wheat;
    border-radius: 10%;
    text-align: center;
    color: white;
    font-size:20px;
}

.form{
    margin-top: 20px;
}
.dropdown option {
    background-color: #fff; /* Set background color */
    color: #333; /* Set text color */
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%; /* Ensure the footer spans the full width */
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center; /* Center align the text */
}

footer p {
    margin: 0; /* Remove default margin for <p> */
}
form-select option {
    background-color: #fd3204; /* Set background color */
    color:red; /* Set text color */
    padding: 5px; /* Add padding to the options */
    font-size: 16px; /* Set font size */
}